include pug/include/mixin

doctype html
html
  head
    include pug/include/style
    title Ket
  body

    include pug/layout/header

    include pug/layout/home

    include pug/layout/footer

    include pug/include/script








