.header{
    color: var(--main-color);

    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logo{
        width: 120px;

        img{
            width: 100%;
        }
    }
    
    nav{
        position: relative;
        .bar{
            display: none;
            font-size: 24px;
            color: #555;
            &.active{
                color: var(--main-color)
            }
            &.active ~ ul{
                display: block;
            }
        }

        ul{
            display: block;
            li{
                display: inline-block;
                    a{
                    color: #555;
                    text-decoration: none;
                    font-size: var(--font);
                    margin: 5px;
                    padding: 5px;
                    padding-bottom: 13px;
                    border-bottom: 2px solid transparent;
                    transition: .5s;
        
                    &:hover{
                        color: var(--main-color) ;
                        border-bottom: 2px solid var(--main-color);
                    }
                }
            }
            
        }
        
        @media #{$max-md} {
            ul{
                display: none;
                position: absolute;
                right: 0;
                margin-top: 14px;
                z-index: 5;
                background: rgba(#0093a7, .85);
                width: 250px;
                &::before{
                    content: '';
                    position: absolute;
                    right: 0px;
                    top: -19px;
                    border: 10px solid transparent;
                    border-bottom-color: rgba(#0093a7, .85);
                }
                li{
                    display: block;
                    a{
                        display: block;
                        padding: 10px;
                        margin-bottom: 10px;    
                        border-bottom: 2px solid transparent;
                        color: #fff;
                        &:hover{
                            margin-left: 15px;
                        }
                    }
                }
            }
            .bar{
                display: block;
            }
        }
    }
    
}