
// grid system

.container {
    width: 100%;
    padding: 0 15px;
    margin: auto;

    @media #{$md} {
        width: 720px;
    }
    @media #{$lg} {
        width: 960px;
    }
    @media #{$xl} {
        width: 1140px;
    }
}


*{
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

img{
    width: 100%
}
